.break {
  border-top: 1px solid #DDDDDD;
  margin-top: 15px;
  height: 15px;
  width: 90%;
  z-index: 997;
}

.city-input {
  width: 14.5em
}

.city-state {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.description-input {
  background-color: #E6E6E6;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
}

.lat-lng {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.lat-input {
  width: 12.75em;
}

.lng-input {
  width: 12.75em;
}

.comma {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 15px;
  height: 65px;
}

.create-spot-container {
  max-width: 420px;
  padding-top: 50px;
  font-size: 16px;
}

.create-spot-button {
  align-items: center;
  background-color: #FF385C;
  border: 2px solid #FF385C;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-size: 1.5em;
  font-weight: 600;
  height: 62px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  margin-left: 0;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  width: 90%;
  touch-action: manipulation;
}

.create-spot-button:focus {
  color: #171e29;
}

.create-spot-button:hover {
  background-color: #DB0F64;
  border-color: #DB0F64;
  fill: #FF385C;
}

.create-spot-button:active {
  background-color: #e60965;
  border-color: #e60965;
  fill: #FF385C;
}

.dollar-sign {
  margin: 0px 10px 0px 0px;
}

form {
  width: 100%;
}

.error-message {
  color: red;
}

input {
  margin: 10px 0px;
  height: 12px;
  font-size: 14px;
  text-indent: 5px;
  font-weight: 400;
}

label {
  font-size: 15px;
}

.price-input {
  width: 27em;
}

.state-input {
  width: 11em;
}
