.break {
  border-top: 1px solid #DDDDDD;
  margin-top: 15px;
  height: 15px;
  width: 90%;
  z-index: 997;
}

.city-input {
  width: 14.5em
}

.city-state {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.lat-lng {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.lat-input {
  width: 12.75em;
}

.lng-input {
  width: 12.75em;
}

.comma {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 15px;
  height: 65px;
}

.create-spot-container {
  max-width: 420px;
  padding-top: 50px;
  font-size: 16px;
}

.dollar-sign {
  margin: 0px 10px 0px 0px;
}

form {
  width: 100%;
}

.error-message {
  color: red;
}

input {
  margin: 10px 0px;
  height: 12px;
  font-size: 14px;
  text-indent: 5px;
  font-weight: 400;
}

label {
  font-size: 15px;
}

.state-input {
  width: 11em;
}
