.delete-button,
.update-button {
  background-color: #FF385C;
  color: white;
  cursor: pointer;
  font-size: 12px;
  margin: 0px 1px;
  padding: 5px 4px;
}

.delete-button:focus,
.update-button:focus {
  color: #171e29;
}

.delete-button:hover,
.update-button:hover {
  background-color: #DB0F64;
  border-color: #DB0F64;
  fill: #FF385C;
}

.delete-button:active,
.update-button:active {
  background-color: #e60965;
  border-color: #e60965;
  fill: #FF385C;
}

.image-container {
  position: relative;
  padding-bottom: 75%; /* Maintains aspect ratio of preview image */
}

.location-text-and-stars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}

.manage-buttons {
  display: flex;
  justify-content: flex-end;
  width: 8em;
}

.not-found {
  padding: 50px 0px;
}

.preview-image {
  border-radius: 15px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.price {
  display: flex;
  justify-content: space-between;
  width: fit-content;
}

.price-component {
  margin: 0 3px 0 0;
}

.price-manage {
  display: flex;
  justify-content: space-between;
}

.spots-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  padding: 60px 1em 0em 1.4em;
}
  
.spot-card {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 0 500px;
  font-family: inherit;
  max-height: 380px;
  list-style: none;
  margin: 1rem .45em;
  max-width: 360px;
  overflow: hidden;
  width: 100%;
}
  
.spot-card a {
  color: black;
  text-decoration: none;
}
  
.spot-card a:hover {
  box-shadow: 3px 3px 8px hsl(0, 0%, 80%);
}
  
.spot-card-content {
  padding: 1.4em;
}
  
.spot-card-content h2 {
  margin-bottom: .5em;
  margin-top: 0;
  font-weight: bold;
}
  
.spot-card-content p {
  font-size: 80%;
}

.user-spots-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 25px;
  margin-top: 0;
  padding: 20px 1em 0em 1.4em;
}
  
@media screen and (min-width: 40em) {
  .spot-card {
    height: auto;
    max-width: calc(49% - 1em);
    width: 100%;
  }
}
  
@media screen and (min-width: 60em) {
  .spot-card {
    max-width: calc(24% - 1em);
    min-width: 208px;
    width: 100%;
  }
  .spots-list {
    padding-left: calc(5% - .4em);
    padding-right: 0;
  }
}

@media screen and (min-width: 40em) and (max-width: 1100px) {
  .spot-description {
    font-size: 14px;
  }
}

@media screen and (max-width: 39.9em) {
  .spots-list {
    padding: 4em 2.5em 0em 0.2em;
    max-width: 90vw;
  }
  .spot-card {
    max-width: 100%;
    width: 100%;
    height: auto;
    max-height: 500px;
  }
  .spot-description {
    font-size: 18px;
  }
}

.delete {
  color: white;
}
