* {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  color: #222222;
}

.bold {
  font-weight: 600;
}

.hr {
  position: fixed;
  top: 73px;
  left: 0;
  width: 100%;
  height: 1px;
  border: 0;
  background-color: #DDDDDD;
  z-index: 998;
}

.light {
  font-weight: 400;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 96vh;
  margin-top: 20px;
  margin-left: 5px;
  width: 98vw;
}
