* {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  color: #222222;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 96vh;
  margin-top: 20px;
  margin-left: 5px;
  width: 98vw;
}
