.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  width: 100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
  margin-bottom: 0;
  font-size: 30px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

input, button {
  margin: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.1rem;
  border: none;
  border-radius: 5px;
}

input {
  padding: 10px;
  height: 40px;
  width: 400px;
  text-indent: 30px;
  font-weight: bold;
  background-color: #E6E6E6;
}

button {
  border-radius: 6px;
  border: none;
}

.signup-button {
  align-items: center;
  background-color: #06f;
  border: 2px solid #06f;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-size: 16px;
  font-weight: 600;
  height: 62px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  width: 420px;
  touch-action: manipulation;
}

.signup-button:focus {
  color: #171e29;
}

.signup-button:hover {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: #06f;
}

.signup-button:active {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: #06f;
}

@media (min-width: 768px) {
  .signup-button {
    min-width: 170px;
  }
}
