.delete-button {
  list-style: none;
}

.post-review-button {
  align-items: center;
  background-color: #FF385C;
  border: 2px solid #FF385C;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-size: 16px;
  font-weight: 600;
  height: 32px;
  justify-content: center;
  letter-spacing: -0.2px;
  line-height: 24px;
  margin-left: 0;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  width: 200px;
  touch-action: manipulation;
}

.post-review-button:focus {
  color: #171e29;
}

.post-review-button:hover {
  background-color: #DB0F64;
  border-color: #DB0F64;
  fill: #FF385C;
}

.post-review-button:active {
  background-color: #e60965;
  border-color: #e60965;
  fill: #FF385C;
}

.description-container {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  margin: 45px 0px;
  width: 100%;
}

.break {
  border-top: 1px solid #DDDDDD;
  height: 20px;
  width: 100%;
  z-index: 997;
}

h2 {
  font-weight: 500;
  margin-bottom: 10px;
}

h3 {
  font-weight: 500;
  font-size: 22px;
}

.headline-num-reviews {
  margin-left: 10px;
}

.headline-stars {
  margin-right: 10px;
}

.host-name {
  margin: 0;
}

.host-name-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.location {
  font-size: 16px;
}

.name-location {
  margin-bottom: 20px;
}

.post-review-button {
  margin: 0px 0px 20px 0px;
}

.price-reviews-reserve {
  align-items: center;
  border: solid 1px #DDDDDD;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
  width: 32%;
  min-width: 250px;
}

.price-review-stats {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  width: 90%;
}

.review-com {
  margin: 5px 0px;
}

.review-date {
  color: #999999;
}

.review-first-name {
  font-weight: 400;
}

.review-individual {
  margin-bottom: 40px;
}

.reviews-headline {
  display: flex;
  align-items: center;
  font-size: 25px;
  margin-bottom: 20px;
  width: 100%;
}

.review-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 8em;
}

.spot-details-container {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 300;
  justify-content: center;
  width: 100%;
  max-width: 85%;
  padding: 48px 10px;
  margin: 0px 50px;
  z-index: 99;
}
  
.spot-details-images-container {
  display: grid;
  grid-template-areas: "a b";
  gap: 5px;
  max-height: 60%;
  max-width: 840px;
  width: 100%;
  z-index: 98;
  overflow: hidden;
}
  
.large-preview-image {
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
  
.large-preview-image-container {
  grid-area: "a";
  align-items: center;
  display: flex;
  justify-content: center;
  max-width: 50%;
  max-height: 100%;
  position: relative;
}
  
.large-preview-image-container::before {
  content: "";
  display: block;
  padding-bottom: 75%; /* Maintains aspect ratio of preview image */
}
  
.large-preview-image-container img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.reserve-button {
  align-items: center;
  background-color: #FF385C;
  border: 2px solid #FF385C;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-size: 16px;
  font-weight: 600;
  height: 62px;
  justify-content: center;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 10px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  width: 100%;
  touch-action: manipulation;
}

.reserve-button:focus {
  color: #171e29;
}

.reserve-button:hover {
  background-color: #DB0F64;
  border-color: #DB0F64;
  fill: #FF385C;
}

.reserve-button:active {
  background-color: #e60965;
  border-color: #e60965;
  fill: #FF385C;
}

.reserve-button-container {
  display: flex;
  justify-content: center;
  grid-area: "c";
  width: 100%;
}

.review-stats {
  grid-area: "b"
}

.review-button-text {
  list-style: none;
  color: white;
}

.price {
  grid-area: "a"
}
  
.small-preview-images-container {
  grid-area: "b";
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  display: grid;
  grid-template-areas: 
    "a b"
    "c d";
  grid-auto-flow: row;
  gap: 5px;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
}
  
.small-preview-image {
  width: 100%;
  height: 100%;
  max-height: 100%;
  position: relative;
}
  
.small-preview-image::before {
  content: "";
  display: block;
  padding-bottom: 75%; /* Maintains aspect ratio of preview image */
}
  
.small-preview-image img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

@media screen and (min-width: 1000px) {
  .spot-details-container {
    max-width: 840px;
  }
}

@media screen and (max-width: 800px) {
  .description-container {
    width: 100%;
    margin-bottom: 0;
  }
  .price-reviews-reserve {
    background-color: white;
    border-radius: 0;
    border: none;
    border-top: 1px #DDDDDD solid;
    box-shadow: none;
    bottom: 0;
    flex-direction: row;
    left: 0;
    padding: 10px 30px 10px 30px;
    position: fixed;
    width: 91%;
    z-index: 100;
  }
  .price-review-stats {
    flex-direction: column;
  }
  .reserve-button {
    margin: 0;
    height: 50px;
    min-width: none;
    width: 50px;
  }
  .reserve-button-container {
    justify-content: flex-end;
    margin-right: 0.8em;
  }
  
  .reviews {
    display: flex;
    flex-direction: column-reverse;
  }

  .reviews-container {
    padding-bottom: 100px;
  }
}
