a {
  text-decoration: none;
}

.navigation-bar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-top: 0;
  width: 97vw;
  padding-left: 0;
}

.disabled {
  background-color: rgb(177, 177, 177);
  border: rgb(177, 177, 177);
  cursor: not-allowed;
}

.disabled:hover {
  background-color: rgb(177, 177, 177);
  border: rgb(177, 177, 177);
  cursor: not-allowed;
}

.profile-dropdown {
  box-shadow: 0px 1px 2px 1px #DDDDDD;
  display: flex;
  position: fixed;
  right: 27px;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  max-width: 210px;
  width: 100%;
  border: solid 1px #DDDDDD;
  border-radius: 10px;
  padding: 5px 15px;
  list-style: none;
  font-size: 14px;
}

.dropdown-details,
.dropdown-details-logged-in {
  width: 114%;
  height: 100%;
  margin: 0;
  padding: 10px 0px 10px 0px;
  text-indent: 15px;
  text-anchor: top;
}

.dropdown-details:hover {
  background-color: #F7F7F7;
}

img {
  width: 45px;
  height: 42px;
}

.logo-and-name {
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  width: 130px;
  height: 42px;
  align-items: center;
}

.logout-button {
  display: flex;
  align-self: center;
  background-color: #FF385C;
  color: white;
  justify-content: center;
  width: 80px;
  margin-bottom: 7px;
  padding: 4px 7px;
  font-size: 14px;
}

.login-signup-nav-links {
  text-decoration: none;
  margin-left: 10px;
}

.hidden {
  display: none;
  border: none;
}

.icon {
  margin: 5px;
}

.nav-link {
  margin: 5px 0px;
  width: 100%;
}

#site-name {
  color: #FF385C;
  text-decoration: none;
}

.user-menu-button {
  width: 77px;
  height: 42px;
  border-radius: 30px;
  background-color: white;
  border: 1px solid #DDDDDD;
}

.user-menu-button:hover {
  box-shadow: 0px 1px 5px 1px #DDDDDD;
}
